In [1]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks': ['200', '210', '190', '222', '199']},
                   index=[0, 1, 2, 3,4])

df2 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                    'marks': ['201', '200', '198', '219', '201']},
                   index=[0, 1, 2, 3,4])
result_data = pd.concat([df1, df2])
print(result_data)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
0         S1  Scarlette Fisher   201
1         S2  Carla Williamson   200
2         S3       Dante Morse   198
3         S4    Kaiser William   219
4         S5   Madeeha Preston   201

C:\Users\USER\AppData\Local\Temp\ipykernel_5392\1417167797.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
result_data = pd.concat([df1, df2], axis = 1)
print(result_data)

  student_id              name marks student_id              name marks
0         S1  Danniella Fenton   200         S1  Scarlette Fisher   201
1         S2      Ryder Storey   210         S2  Carla Williamson   200
2         S3      Bryce Jensen   190         S3       Dante Morse   198
3         S4         Ed Bernal   222         S4    Kaiser William   219
4         S5       Kwame Morin   199         S5   Madeeha Preston   201

In [12]:
x = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
x.loc[len(x.index)] = (s6) 
print(x)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [24]:
import pandas as pd
student_data1  = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])


dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

print("Original DataFrames:")
print(student_data1)
print("\nDictionary:")
print(s6)
dicts_df = pd.DataFrame(dicts)
combined_data = pd.concat([student_data1, dicts_df], ignore_index=True, sort=False)
print("\nCombined Data:")
print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

Dictionary:
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    203
6         S7      Bryce Jensen    207

In [2]:
import pandas as pd
df1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks': [200, 210, 190, 222, 199]})
df2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})
x = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})
print("original data:")
print(df1)
print(df2)
print(x)

print("\n two first dataframes joined along rows:")
result = pd.concat([df1, df2])
print(result)

print("\nresult and exam data along  the student_id:")
final_merged_data = pd.merge(result, x, on='student_id')
print(final_merged_data)

original data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
   student_id  exam_id
0          S1       23
1          S2       45
2          S3       12
3          S4       67
4          S5       21
5          S7       55
6          S8       33
7          S9       14
8         S10       56
9         S11       83
10        S12       88
11        S13       12

 two first dataframes joined along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

result and exam data along  the student_id:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S5       Kwame Morin    199       21
5         S4  Scarlette Fisher    201       67
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

C:\Users\USER\AppData\Local\Temp\ipykernel_16544\3071532486.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
merge = pd.merge(df1, df2, on='student_id', how='inner')
print("merged data")
print(merge)

merged data
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [4]:
merge = pd.merge(df1, df2, on='student_id', how='outer')
print("merged data")
print(merge)

merged data
  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

In [6]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2',], 
                      'key2': ['K0', 'K1', 'K0', 'K1'],
                      'P': ['P0', 'P1', 'P2','P3'],
                      'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2',], 
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2','R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
merge = pd.merge(data1, data2, on=['key1','key2'], how='left')
print("merged data (data 1 keys)")
print(merge)
merge = pd.merge(data2, data1, on=['key1','key2'], how='left')
print("merged data (data 2 keys)")
print(merge)

merged data (data 1 keys)
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN
merged data (data 2 keys)
  key1 key2   R   S    P    Q
0   K0   K0  R0  S0   P0   Q0
1   K1   K0  R1  S1   P2   Q2
2   K1   K0  R2  S2   P2   Q2
3   K2   K0  R3  S3  NaN  NaN

In [7]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2',], 
                      'key2': ['K0', 'K1', 'K0', 'K1'],
                      'P': ['P0', 'P1', 'P2','P3'],
                      'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2',], 
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2','R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
merge = pd.merge(data1, data2, on=['key1','key2'], how='right')
print("merged data (data 1 keys)")
print(merge)
merge = pd.merge(data2, data1, on=['key1','key2'], how='right')
print("merged data (data 2 keys)")
print(merge)

merged data (data 1 keys)
  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3
merged data (data 2 keys)
  key1 key2    R    S   P   Q
0   K0   K0   R0   S0  P0  Q0
1   K0   K1  NaN  NaN  P1  Q1
2   K1   K0   R1   S1  P2  Q2
3   K1   K0   R2   S2  P2  Q2
4   K2   K1  NaN  NaN  P3  Q3

In [3]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2',], 
                      'key2': ['K0', 'K1', 'K0', 'K1'],
                      'P': ['P0', 'P1', 'P2','P3'],
                      'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2',], 
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2','R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
merge = pd.merge(data2, data1, on=['key1','key2'])
print("merged data:")
print(merge)

merged data:
  key1 key2   R   S   P   Q
0   K0   K0  R0  S0  P0  Q0
1   K1   K0  R1  S1  P2  Q2
2   K1   K0  R2  S2  P2  Q2

In [5]:
import pandas as pd
firstSeries = pd.Series([0, 1, 2, 3], name='column1')
secondSeries = pd.Series([0, 4, 7, 9],)
thirdSeries = pd.Series([0, 2, 3 ,5], name='column3')
dataframe = pd.concat([firstSeries, secondSeries, thirdSeries], axis=1, keys=['column1', 'column2', 'column3'])
print(dataframe)

   column1  column2  column3
0        0        0        0
1        1        4        2
2        2        7        3
3        3        9        5

In [6]:
merge = pd.merge(data1, data2, on='key1')
print(merge)

  key1 key2_x   P   Q key2_y   R   S
0   K0     K0  P0  Q0     K0  R0  S0
1   K0     K1  P1  Q1     K0  R0  S0
2   K1     K0  P2  Q2     K0  R1  S1
3   K1     K0  P2  Q2     K0  R2  S2
4   K2     K1  P3  Q3     K0  R3  S3

In [8]:
data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])
data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                     'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
join = data1.join(data2)
print(join)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [9]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2',], 
                      'key2': ['K0', 'K1', 'K0', 'K1'],
                      'P': ['P0', 'P1', 'P2','P3'],
                      'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2',], 
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2','R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
merge = pd.concat([data1,data2], axis=0, ignore_index=True)
print(merge)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3

In [10]:
data1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
data2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})
merge = data1.combine_first(data2)
print(merge)

     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0